.pagination {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	color: var(--secondary-color);
	margin-top: 3rem;

	.left-container,
	.right-container,
	li {
		display: flex;
		align-items: center;
	}

	.left-container {
		width: 50%;
		gap: 0.3rem;
		font-size: 0.9rem;
		text-align: center;

		select {
			background-color: #21407d20;
			color: var(--secondary-color);
			outline: 0;
			border: none;
			font-size: 0.9rem;
			padding: 0.4rem;
			font-weight: 600;
			border-radius: 2px;
			cursor: pointer;

			&:hover {
				opacity: 0.8;
			}
		}
	}

	.right-container {
		width: 55%;
		list-style: none;
		gap: 0.3rem;

		.icon {
			font-size: 1rem;
		}

		.paginate {
			background-color: #21407d20;
			border-radius: 3px;
			justify-content: center;
			width: 2.3rem;
			height: 2rem;
			cursor: pointer;

			&:hover {
				opacity: 0.8;
			}
		}

		.page {
			justify-content: center;
			color: var(--text-color);
			font-size: 1rem;
			font-weight: 500;
			height: 2rem;
			width: 2.3rem;
			cursor: pointer;
			&:hover {
				background-color: #21407d20;
				border-radius: 2px;
			}
		}

		.pageNum {
			justify-content: center;
			color: var(--secondary-color);
			cursor: pointer;
			font-size: 1rem;
			font-weight: 600;
			background-color: #21407d20;
			height: 2rem;
			width: 3rem;
			border-radius: 2px;
		}
	}

	.hidden {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.pagination {
		margin-top: 4rem;

		.left-container {
			width: 50%;
			gap: 1.3rem;
			font-size: 1.5rem;

			select {
				font-size: 1.6rem;
				padding: 0.8rem 1rem;
				border-radius: 4px;
			}
		}

		.right-container {
			width: 50%;
			gap: 0.3rem;
			justify-content: flex-end;

			.icon {
				font-size: 1.5rem;
			}

			.paginate {
				border-radius: 4px;
				width: 4rem;
				height: 4rem;
			}

			.page {
				font-size: 1.4rem;
				height: 4rem;
				width: 4rem;
				&:hover {
					border-radius: 4px;
				}
			}

			.pageNum {
				font-size: 1.4rem;
				font-weight: 600;
				height: 4rem;
				width: 4rem;
				border-radius: 4px;
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.pagination {
		margin-top: 6rem;

		.left-container {
			gap: 1.2rem;
			font-size: 1.4rem;

			select {
				font-size: 1.6rem;
			}
		}

		.right-container {
			gap: 0.5rem;

			.icon {
				font-size: 1.6rem;
			}

			.paginate {
				border-radius: 4px;
				width: 3.5rem;
				height: 3.5rem;
			}

			.page {
				font-size: 1.4rem;
				width: 3.5rem;
				height: 3.5rem;
				&:hover {
					border-radius: 4px;
				}
			}

			.pageNum {
				font-size: 1.4rem;
				width: 3.5rem;
				height: 3.5rem;
				border-radius: 4px;
			}
		}
	}
}

@media screen and (min-width: 1280px) {
	.pagination {
		margin-top: 6rem;

		.left-container {
			gap: 1.7rem;
			font-size: 1.6rem;

			select {
				font-size: 1.8rem;
			}
		}

		.right-container {
			gap: 0.8rem;

			.icon {
				font-size: 1.7rem;
			}

			.paginate {
				border-radius: 4px;
				width: 4rem;
				height: 4rem;
			}

			.page {
				font-size: 1.6rem;
				height: 4rem;
				width: 4rem;
				&:hover {
					border-radius: 4px;
				}
			}

			.pageNum {
				font-size: 1.6rem;
				height: 4rem;
				width: 4rem;
				border-radius: 4px;
			}
		}
	}
}

@media screen and (min-width: 1536px) {
	.pagination {
		margin-top: 8rem;

		.left-container {
			gap: 2.5rem;
			font-size: 2rem;

			select {
				font-size: 2.5rem;
			}
		}

		.right-container {
			gap: 1rem;

			.icon {
				font-size: 2.5rem;
			}

			.paginate {
				border-radius: 4px;
				width: 5rem;
				height: 5rem;
			}

			.page {
				font-size: 2rem;
				height: 5rem;
				width: 5rem;
				&:hover {
					border-radius: 5px;
				}
			}

			.pageNum {
				font-size: 2rem;
				height: 5rem;
				width: 5rem;
				border-radius: 5px;
			}
		}
	}
}
